header {
  .container {
    padding: var(--padding-left);
    .header-row {
      display: flex;
      flex-direction: column;
      .order-1 {
        order: -1;
      }
      .header-col {
        .header-hotdrop {
          margin-bottom: var(--padding-left);
          padding: var(--padding-left);
          overflow: hidden;
          border-radius: var(--padding-left);
          border: var(--line-border);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h1 {
            font-size: 1.25rem;
            text-align: center;
          }
          .timer {
            background-color: var(--primary-color);
            padding: var(--padding-top) var(--padding-left);
            border-radius: var(--default-border-radius);
            color: var(--background-color);
          }
          .hotdrop-price {
            text-align: center;
            margin: var(--padding-left) 0;
            font-size: 1.1rem;
            .old-price {
              text-decoration: line-through;
              color: #696969;
            }
            .now-price {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }
        .header-category {
          margin-bottom: var(--padding-left);
          border-radius: var(--padding-left);
          overflow: hidden;
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 12.5rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          h3 {
            width: 100%;
            text-align: center;
            padding: var(--padding-top);
            position: absolute;
            bottom: 0;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    .carousel {
      img {
        box-shadow: var(--default-box-shadow);
        height: 15rem;
        width: 100%;
        object-fit: cover;
        border-radius: var(--padding-left);
      }
    }
  }
}
.product-section {
  .container {
    .section-title {
      padding: var(--padding-left);
      text-align: center;
      h1 {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }
  .product-carousel {
    background-color: var(--primary-color-dark);
    .container::-webkit-scrollbar {
      display: none;
    }
    .container {
      margin: 0;
      width: 100%;
      max-width: unset;
      scrollbar-width: none;
      overflow-x: scroll;
      padding: var(--padding-left) 0 var(--padding-left)
        calc((100% - 1170px) / 2);
      display: flex;
      width: 100%;
      .product-card:first-child {
        margin-left: var(--padding-left);
      }
      .product-card:hover .top-product .product-moreinfo,
      .product-card:focus .top-product .product-moreinfo {
        display: flex;
      }
      .product-card {
        flex-shrink: 0;
        box-shadow: var(--default-box-shadow);
        border-radius: var(--padding-left);
        overflow: hidden;
        margin: 0 var(--padding-left) 0 0;
        width: 28ch;
        height: 40ch;
        color: white;
        background-color: var(--product-bg);
        .top-product {
          position: relative;
          height: 79%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .product-moreinfo {
            border-radius: var(--padding-top) var(--padding-top) 0 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: var(--background-color);
            background-color: rgba(0, 0, 0, 0.55);
            padding: var(--padding-top);
            display: none;
            align-items: center;
            justify-content: space-between;
            .product-sizes {
              .sizes {
                display: flex;
                .size-item {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 0.25rem;
                  margin: 0 0.25rem;
                  border-radius: 50%;
                  width: 1.5rem;
                  height: 1.5rem;
                  font-size: 0.75rem;
                  background-color: var(--background-color);
                  color: var(--secondary-color);
                  font-weight: bold;
                }
              }
            }
            .product-btns {
              display: flex;
              button {
                flex-grow: 0;
                height: min-content;
                margin-right: var(--padding-top);
                color: var(--primary-color);
                padding: var(--padding-top);
                background-color: rgba(255, 255, 255, 0.75);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: var(--padding-top);
                span {
                  font-size: 1.75rem;
                }
              }
              button:last-child {
                margin-right: 0;
              }
            }
          }
        }
        .bottom-product {
          padding: var(--padding-top);
          position: relative;
          height: 100%;
          h3 {
            text-overflow: ellipsis;
            position: relative;
            height: 12%;
          }
          .product-price {
            text-align: right;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.stats-section {
  .container {
    margin: 2rem var(--padding-left);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .stats-item {
      margin: var(--padding-left) 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      span {
        font-size: 3rem;
        color: var(--primary-color);
      }
      h1 {
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color-dark);
        margin: var(--padding-top) 0;
      }
    }
  }
}
.brands-section {
  .container {
    margin: var(--padding-left) auto 2rem auto;
    .section-title {
      padding: var(--padding-left);
      text-align: center;
      h1 {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
    .brands-carousel {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .brand-item {
        overflow: hidden;
        margin: 0 var(--padding-left);
        opacity: 0.75;
        img {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          width: 8rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .container {
      .header-row {
        margin-bottom: var(--padding-left);
        flex-basis: 33%;
        flex-direction: row;
        .order-1 {
          order: unset;
        }
        .header-col {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          justify-content: space-between;
          padding: var(--padding-left);
          width: 100%;
          hr {
            margin: var(--padding-top) 0;
            border-top: var(--line-border);
          }
          .header-hotdrop {
            border: unset;
          }
          .header-category {
            box-shadow: var(--default-box-shadow);
            cursor: pointer;
            margin-bottom: 0;
          }
        }
        .header-border {
          border-left: var(--line-border);
          border-right: var(--line-border);
        }
      }
    }
  }
  .stats-section {
    .container {
      margin: 3rem auto;
      flex-direction: row;
    }
  }
}
