header .container {
  padding: var(--padding-left);
}

header .container .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .container .header-row .order-1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

header .container .header-row .header-col .header-hotdrop {
  margin-bottom: var(--padding-left);
  padding: var(--padding-left);
  overflow: hidden;
  border-radius: var(--padding-left);
  border: var(--line-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header-row .header-col .header-hotdrop h1 {
  font-size: 1.25rem;
  text-align: center;
}

header .container .header-row .header-col .header-hotdrop .timer {
  background-color: var(--primary-color);
  padding: var(--padding-top) var(--padding-left);
  border-radius: var(--default-border-radius);
  color: var(--background-color);
}

header .container .header-row .header-col .header-hotdrop .hotdrop-price {
  text-align: center;
  margin: var(--padding-left) 0;
  font-size: 1.1rem;
}

header .container .header-row .header-col .header-hotdrop .hotdrop-price .old-price {
  text-decoration: line-through;
  color: #696969;
}

header .container .header-row .header-col .header-hotdrop .hotdrop-price .now-price {
  font-size: 1.5rem;
  font-weight: 600;
}

header .container .header-row .header-col .header-category {
  margin-bottom: var(--padding-left);
  border-radius: var(--padding-left);
  overflow: hidden;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 12.5rem;
}

header .container .header-row .header-col .header-category img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .container .header-row .header-col .header-category h3 {
  width: 100%;
  text-align: center;
  padding: var(--padding-top);
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

header .container .carousel img {
  -webkit-box-shadow: var(--default-box-shadow);
          box-shadow: var(--default-box-shadow);
  height: 15rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--padding-left);
}

.product-section .container .section-title {
  padding: var(--padding-left);
  text-align: center;
}

.product-section .container .section-title h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-section .product-carousel {
  position: relative;
  background-color: var(--primary-color-dark);
}

.product-section .product-carousel .container::-webkit-scrollbar {
  display: none;
}

.product-section .product-carousel .container {
  margin: 0;
  width: 100%;
  max-width: unset;
  scrollbar-width: none;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: var(--padding-left) calc((100% - 1170px) / 2) var(--padding-left) calc((100% - 1170px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.product-section .product-carousel .container .product-card:first-child {
  margin-left: var(--padding-left);
}

.product-section .product-carousel .container .product-card:hover .top-product .product-moreinfo,
.product-section .product-carousel .container .product-card:focus .top-product .product-moreinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-section .product-carousel .container .product-card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: var(--default-box-shadow);
          box-shadow: var(--default-box-shadow);
  border-radius: var(--padding-left);
  overflow: hidden;
  margin: 0 var(--padding-left) 0 0;
  width: 28ch;
  height: 40ch;
  color: white;
  background-color: var(--product-bg);
}

.product-section .product-carousel .container .product-card .top-product {
  position: relative;
  height: 79%;
}

.product-section .product-carousel .container .product-card .top-product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-section .product-carousel .container .product-card .top-product .product-moreinfo {
  border-radius: var(--padding-top) var(--padding-top) 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--background-color);
  background-color: rgba(0, 0, 0, 0.55);
  padding: var(--padding-top);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-section .product-carousel .container .product-card .top-product .product-moreinfo .product-sizes .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-section .product-carousel .container .product-card .top-product .product-moreinfo .product-sizes .sizes .size-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem;
  margin: 0 0.25rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.75rem;
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.product-section .product-carousel .container .product-card .top-product .product-moreinfo .product-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-section .product-carousel .container .product-card .top-product .product-moreinfo .product-btns button {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: var(--padding-top);
  color: var(--primary-color);
  padding: var(--padding-top);
  background-color: rgba(255, 255, 255, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--padding-top);
}

.product-section .product-carousel .container .product-card .top-product .product-moreinfo .product-btns button span {
  font-size: 1.75rem;
}

.product-section .product-carousel .container .product-card .top-product .product-moreinfo .product-btns button:last-child {
  margin-right: 0;
}

.product-section .product-carousel .container .product-card .bottom-product {
  padding: var(--padding-top);
  position: relative;
  height: 100%;
}

.product-section .product-carousel .container .product-card .bottom-product h3 {
  text-overflow: ellipsis;
  position: relative;
  height: 12%;
}

.product-section .product-carousel .container .product-card .bottom-product .product-price {
  text-align: right;
  font-weight: bold;
}

.stats-section .container {
  margin: 2rem var(--padding-left);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats-section .container .stats-item {
  margin: var(--padding-left) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.stats-section .container .stats-item span {
  font-size: 3rem;
  color: var(--primary-color);
}

.stats-section .container .stats-item h1 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary-color-dark);
  margin: var(--padding-top) 0;
}

.brands-section .container {
  margin: var(--padding-left) auto 2rem auto;
}

.brands-section .container .section-title {
  padding: var(--padding-left);
  text-align: center;
}

.brands-section .container .section-title h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

.brands-section .container .brands-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.brands-section .container .brands-carousel .brand-item {
  overflow: hidden;
  margin: 0 var(--padding-left);
  opacity: 0.75;
}

.brands-section .container .brands-carousel .brand-item img {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
}

@media (min-width: 768px) {
  header .container .header-row {
    margin-bottom: var(--padding-left);
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .container .header-row .order-1 {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  header .container .header-row .header-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: var(--padding-left);
    width: 100%;
  }
  header .container .header-row .header-col hr {
    margin: var(--padding-top) 0;
    border-top: var(--line-border);
  }
  header .container .header-row .header-col .header-hotdrop {
    border: unset;
  }
  header .container .header-row .header-col .header-category {
    -webkit-box-shadow: var(--default-box-shadow);
            box-shadow: var(--default-box-shadow);
    cursor: pointer;
    margin-bottom: 0;
  }
  header .container .header-row .header-border {
    border-left: var(--line-border);
    border-right: var(--line-border);
  }
  .stats-section .container {
    margin: 3rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-section .product-carousel .section-btn {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: white;
    background-color: var(--primary-color);
    padding: var(--padding-top);
    border-radius: var(--default-border-radius);
    -webkit-box-shadow: var(--default-box-shadow);
            box-shadow: var(--default-box-shadow);
    z-index: 10;
  }
  .product-section .product-carousel .section-btn span {
    font-size: 2rem;
  }
  .product-section .product-carousel .btn-left {
    left: var(--padding-left);
  }
  .product-section .product-carousel .btn-right {
    right: var(--padding-left);
  }
}
/*# sourceMappingURL=home.css.map */