:root {
  --primary-color: #3087eb;
  --primary-color-dark: #002270;
  --secondary-color: #000000;
  --background-color: #ffffff;
  --default-border-radius: 10vw;
  --padding-top: 0.5rem;
  --padding-left: 1rem;
  --line-border: 1px solid black;
  --default-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  --product-bg: #0070d191;
  --carousel-time: 10s;
}

body {
  font-family: "Poppins", sans-serif;
}
.desktop-only {
  display: none;
}
button {
  cursor: pointer;
}
nav.active {
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0);
  .topnav {
    display: none;
  }
}
nav {
  .centernav {
    background-color: var(--background-color);
    .container {
      padding: var(--padding-top) var(--padding-left);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        font-weight: 600;
        color: var(--primary-color);
        font-size: 1.5rem;
      }
      .rightcenternav {
        display: flex;
        align-items: center;
        button {
          margin-right: 0.6rem;
          span {
            font-size: 1.75rem;
            display: flex;
          }
        }
        button:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .bottomnav {
    background-color: var(--primary-color-dark);
    color: var(--background-color);
    .container {
      padding: var(--padding-top) var(--padding-left);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .searchbar {
        width: 100%;
        color: var(--secondary-color);
        form {
          display: flex;
          width: 100%;
          position: relative;
          input {
            padding: var(--padding-top) var(--padding-left);
            border-radius: var(--default-border-radius);
            background-color: var(--background-color);
            width: 100%;
            margin-right: var(--padding-top);
          }
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: var(--primary-color);
            border-radius: 50%;
            padding: var(--padding-top);
          }
        }
      }
    }
  }
}
footer {
  margin-top: calc(var(--padding-left) * 3);
  background-color: var(--secondary-color);
  color: white;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .footer-item {
      margin: var(--padding-left);
      h1 {
        font-weight: bold;
      }
    }
  }
}
@media (min-width: 700px) {
  .container {
    margin: 0 auto;
    max-width: 1170px;
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: flex;
  }
  nav {
    .topnav {
      .container {
        font-size: 0.85rem;
        padding: var(--padding-top) 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      border-bottom: var(--line-border);
    }
    .centernav {
      .container {
        padding: var(--padding-top) 0;
        .searchbar {
          hr.horizontal {
            border-right: var(--line-border);
            margin: var(--padding-top);
          }
          form {
            margin-right: var(--padding-top);
            border-radius: var(--default-border-radius);
            padding: var(--padding-top) var(--padding-left);
            border: var(--line-border);
            display: flex;
            input {
              width: 100%;
            }
            .search-category {
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                font-size: 2rem;
              }
              h3 {
                width: max-content;
                font-size: 0.85rem;
              }
            }
          }
          button {
            clip-path: circle();
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: var(--primary-color);
            padding: var(--padding-top);
            span {
              font-size: 1.75rem;
            }
          }
        }
        .rightcenternav {
          display: flex;
          button:hover {
            color: var(--primary-color);
          }
          button {
            span {
              font-size: 2rem;
            }
          }
          .basket-btn {
            display: flex;
            align-items: center;
            .basket-info {
              justify-content: center;
              margin-left: var(--padding-left);
              display: flex;
              flex-direction: column;
              h3 {
                font-size: 0.8rem;
              }
              h1 {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .bottomnav {
      .container {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: unset;
        .category:hover .category-menu,
        .category:focus .category-menu {
          opacity: 1;
          pointer-events: unset;
        }
        .category {
          height: 4rem;
          cursor: pointer;
          margin-right: var(--padding-top);
          display: flex;
          align-items: center;
          a {
            display: flex;
            align-items: center;
          }
          .category-name {
            display: flex;
            align-items: center;
          }
          .category-menu {
            overflow: hidden;
            transition: opacity 0.5s;
            padding: var(--padding-left);
            width: 100%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            display: flex;
            justify-content: space-between;
            z-index: 999;
            margin-top: 4rem;
            left: 0;
            border-radius: 0 0 var(--padding-left) var(--padding-left);
            top: 0;
            color: black;
            background-color: var(--background-color);
            box-shadow: var(--default-box-shadow);
            h1 {
              font-weight: bold;
            }
          }
        }
        .help-button {
          margin: var(--padding-top) 0;
          padding: var(--padding-top) var(--padding-top);
          background-color: var(--primary-color);
          line-height: 1.2;
          border-radius: 0.75rem;
          display: flex;
          align-items: center;
          span {
            margin-right: 0.5rem;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
